<h3 class="text-center mb-4">Solicitudes de Contacto</h3>

<div class="container d-flex flex-column gap-4 align-items-center">
  @if (contactos.length > 0) {
    @for (c of contactos; track c; let i = $index) {
      <mat-card class="w-75">
        <mat-card-header>
          <mat-card-title>{{ c.nombre }}</mat-card-title>
          <mat-card-subtitle>{{ c.email }} - {{ c.celular }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p><strong>Asunto:</strong> {{ c.asunto }}</p>
          <p><strong>Mensaje:</strong> {{ c.mensaje }}</p>
        </mat-card-content>

        <mat-card-actions>
          <button mat-button color="warn" (click)="eliminarContacto(i)">Eliminar</button>
        </mat-card-actions>
      </mat-card>
    }
  } @else {
    <div class="alert alert-info">No hay solicitudes registradas.</div>
  }

  <div class="text-center mt-3">
    <button mat-button  (click)="cerrarPanel()">Cerrar</button>
  </div>
</div>
