/* You can add global styles to this file, and also import other style files */
:root{
    --azulclaro: #00befa;
    --amarilloclaro: #FAE900;
    --azulbrillante: #003afa;
    --amarillooscuro:#fab600;
    --azuloscuro:#3751a5;
    --azulgris:#3d6c7a;
    --azulgrisf: #2c3e50;
    --blanco: whitesmoke;

    --special:"Comfortaa", sans-serif;
    --text: "Helvetica Neue", sans-serif;
    --other: "Franklin Gothic", sans-serif;
}
html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
